@tailwind base;
@tailwind components;
@tailwind utilities;


svg[display="none"] {
  display: none;
}

.blocklyWidgetDiv > .blocklyMenu {
 border: 0px !important;
}

.injectionDiv {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}


.ontopofall{
  z-index: 99999;
}


.prev-small{
  width: 20%;
  max-width: 250px;
}

.prev-medium{
  width: 45%;
}

.prev-default{
  width: 30%;
  max-width: 400px;
}

.prev-large{
  width: 80%;
}

.iPhone6S {
  /* this is the render are dimension */
  /* media queries look up to this */
  width:375px;
  height:667px;
  transform-origin: 0 0;
  transform:scale(0.67); 
  /* you can calculate it by something like : 
     108/326*2 = 0.663 => 0.67*/
  /* zoom:...; */ /* This is non-standard feature */
                  /* FireFox and Opera don't support it */
}